@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* Déclaration des variables pour toute la page css */
:root {
      --blancCremeux: #F0F0F0;
      --bleue: #1765DF;
      --blanc: #FFFFFF;
      --noir: #1C1C1C;
}

/* Déclaration de la nouvelle police d'écriture*/
* {
      font-family: 'Lato', sans-serif, Arial, Helvetica, sans-serif;
      padding: 0;
      margin: 0;
}

/* Mettre le background du site en blanc cremeux */
body {
      background: var(--blancCremeux);
}

/* Class container pour mettre le contenue des diférentes parties à l'intérieur pour la responsive */
.container {
      width: 70%;
      min-width: 848px;
      max-width: 1144px;
      margin: 0 auto;
}

/* Création de l'espace de 50px en haut et en bas du container */
main .container {
      margin: 50px auto;
}

/* Créer 4 marges de 60 px pour centrer le contenue vers l'intérieur */
.content {
      padding: 60px;
}

/* Permet de clear pour les float right ou left */
.clear {
      clear: both;
}

/* Définition de la taille globale du texte du site */
.content p {
      line-height: 23px;
}

/* Enlever le style de base de la liste pour faire croire que c'est une une énumération */
li {
      list-style-type: none;
}

/* Permets de mettre en bleue le texte quand on a la souris dessus */
a:hover {
      color: var(--bleue);
}

/* Définition de quelques class "util" pour mettre des couleurs ou en gras */
.blue {
      color: var(--bleue);
}

.black {
      color: var(--noir);
}

.white {
      color: var(--blancCremeux)
}

.bold {
      font-weight: 900;
}

/* Class pour créer plusieurs espaces */
.space {
      padding-bottom: 70px;
}

.minispace {
      padding-bottom: 20px;
}

/* Class pour les flèches à droite pour utiliser les ancres */
.arrow {
      position: fixed;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;
}

/* Class pour mettre le background d'un container en blanc */
.back {
      background: var(--blanc);
}

/* HEADER */

/* Mettre le background en blanc */
header {
      background: var(--blanc);
}

/* Petite animation pour les textes de la nav */
header a {
      color: var(--noir);
      text-decoration: none;
      transition: .2s;
}

/* Création de la nav bar centré et en ligne */
header nav {
      height: 75px;
      background: var(--blanc); /* Régler un problème de responsive */
}

header nav ul {
      text-align: center;
}

header nav ul li {
      display: inline;
}

header nav ul li a {
     line-height: 75px;
     padding: 0 15px;
}

/* ARTICLE */

/* Création de la zone pour un article et les espacer de 50px */
.article {
      background: var(--blanc);
      margin-bottom: 50px;
}

/* Descendre le titre de 15px */
.content h1 {
      margin-bottom: 15px;
}

/* Rendre responsive l'image */
.article img {
      float: left;
      padding: 0 15px 15px 0;
      width: 50%;
      max-width: 550px;
}

/* Création d'un bouton avec une class */
.article .button {
      color: var(--blanc);
      background-color: var(--bleue);
      float: right;
      margin-top: 40px;
      padding: 10px;
      border: none;
      text-decoration: none; /* Enlever le texte souligné car il y a un href */
}

/* PRESENTATION */

/* Implémentation de la vidéo youtube & la rendre responsive */
.prehead iframe {
      margin-left: 5%;
      float: right;     
      width: 45%;
      max-width: 500px;
      height: 260px;
}

/* Création d'une image responsive */
.part img {
      margin-right: 3%;
      float: left;
      width: 25%;
      max-width: 200px;
}

/* Permet de placer les titres */
.part h2 {
      margin-bottom: 2%;
}

.part h3 {
      margin-bottom: 1%;
}

/* Permets de créer des carrés en gris de 30 px */
.part .square {
      background-color: var(--blancCremeux);
      float: left;
      margin-right: 2%;
      height: 30px;
      width: 30px;
      display: table;
      text-align: center;
      vertical-align: middle;
}

.part .square p {
      padding-top: 3px;
}

/* ChARTE GRAPHIQUE */

/* Création d'un carré de 60 px */
.precharte .square {
      margin-bottom: 7%;
      height: 60px;
      width: 60px;
      display: table;
}

/* Permets de placer les carrés à droite */
.precharte .color {
      float: right;
      margin-left: 5%;
}

/* Définition des textes à droite des carrés */
.precharte .color p {
      float: right;
      margin-top: 8%;
      margin-left: 10px;
      font-size: xx-large;
}

/* Class des carrés pour leur mettre une couleur */
.precharte .cblue {
      background-color: var(--bleue);
}

.precharte .cblack {
      background-color: var(--noir);
}

.precharte .cwhite {
      background-color: var(--blancCremeux);
}

/* Augmenter la taille des titres */
.charte h2 {
      font-size: xx-large;
}

/* Création du tableau */
.charte .table td, .charte .table th{
      border: 1px solid var(--blanc);
      padding: 8px;
}

/* Placer le tableau */
.charte .table {
      margin-top: 1%;
      width: 100%;
      border-collapse: collapse;
}

/* Faire en sorte que 1 ligne sur 2 soit en blanc Crémeux */
.charte .table tr:nth-child(even) {
      background-color: var(--blancCremeux);
}

/* Faire en sorte que quand on passe la souris sur une ligne elle devienne en blanc */
.charte .table tr:hover {
      background-color: var(--blanc);
}

/* Création  de la 1 ligne en bleue du tableau */
.charte .table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: var(--bleue);
      color: var(--blanc);
}

/* Rendre responsive l'image du logo */
.charte img {
      width: 50%;
}

/* FINANCEMENT */

/* Permets de créer des colonnes avec la première(image) qui prend 2x plus de place que l'autre (Les boutons) */
.sell {
      display: grid;
      grid-template-columns: 2fr auto;
      grid-gap: 25px;
      margin-top: 25px;
}

/* Permets de créer des lignes avec la dernière qui prend de la place en fonction de sa taille */
.sell-content {
      display: grid;
      grid-template-rows: 1fr auto;
      margin-top: 10%;
      width: 250px;
}

/* Permets de faire un tableau à 2 colonnes */
.sell-button {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
}

/* Centrer le texte des boutons / de l'input */
.sell-button button, .sell-button input {
      width: 100px;
      height: fit-content;
      padding: 10px 24px;
}

.sell-button input {
      width: 50px;
}

/* Responsive de l'image */
.sell img {
      width: 100%;
}

/* Création du bouton VALIDER */
.sell .validate {
      float: right;
      padding: 10px 25px;
      margin-top: 10px;
      box-shadow: none;
      border: none;
      color: var(--blanc);
      background-color: var(--bleue);
}

/* MENTIONS LEGALES */

/* Espacer le texte de 30 px */
.mention p {
      margin-bottom: 30px;
}

/* FOOTER */

footer {
      margin-bottom: 40px;
}

/* Création d'une ligne blanche */
footer hr { 
      border-top: 2px solid var(--blanc);
      margin-bottom: 0.5em;
}

/* Création des images + les rendre responsives */
footer img {
      padding: 0 15px 15px 0;
      width: 90%;
      height: 60%;
}

/* Création du titre dans la liste */
footer .maj {
      color: var(--noir);
      font-weight: 900;
}

/* Permets de reset les placements après la class row */
footer .row:after {
      content: "";
      display: table;
      clear: both;
}

/* Création des colonnes */
footer .column {
      float: left;
      width: 15%;
      padding: 20px 20px; /* le 20 est l'espace entre les colums */
}

/* Espacement entre les lignes */
footer ul li {
      line-height: 30px;
}

/* Propriété du contenue des listes */
footer ul li a {
      text-decoration: none;
      color: var(--noir);
}

/* FORMULAIRE */
/* Rends reponsive la textarea */
footer textarea {
      width: 100%;
      margin-top: 10px;
      padding: 5px 25px;
      resize: none;
      border: none;
}

/* Rends responsive le contenue du formulaire */
footer #contact {
      width: 35%;
}

footer #email {
      margin-top: 10px;
      width: 87%;
      border: none;
      padding: 1% 6%; /* Petit espacement du texte à l'intérieur */
}

footer #msg {
      height: 90px;
      width: 87%;
}

/* Bouton envoyé */
footer input[type="submit"] {
      margin-top: 10px;
      color: var(--blanc);
      background-color: var(--bleue);
      float: right;
      padding: 8px;
      font-weight: 900;
}

/* COPYRIGHT */

/* Permets de mettre en petit du texte */
footer .small {
      font-size: small;
}

/* Mettre du texte à droite */
footer .right {
      float: right;
}


/*

Ancienne page Financement

.funding .sell {
      margin-top: 50px;
      padding: 2%;
      background: var(--blancCremeux);
}

.funding .sell img {
      float: left;
      width: 50%;
      padding-right: 15px;
}

.funding .sell .table {
      margin: 3% 6% 2% 6%;
      border: 1px solid black;
      padding: 0.8% 3% 0.8% 3%;
      background-color: var(--blanc);
}

.funding .sell .five {
      padding-left: 3.38%!important;
      padding-right: 3.38%!important;
}

.funding .sell .choosemoney {
      margin-left: 6%;
      padding-top: 0.7%;
      padding-bottom: 0.7%;
      width: 10.4%;
      border: 1px solid black;
}

.funding .sell .validate {
      margin: 2.5% 5% 0 0;
      float: right;
      color: var(--blanc);
      background-color: var(--bleue);
      font-weight: 900;
      box-shadow: none;
      border: none;
}*/
